/* CSS file */


Button
{
	fillAlphas: 1.0, 1.0, 1.0, 1.0;
	fillColors: #444444, #444444;
	cornerRadius: 0;
	borderColor: #FFFFFF;
	color: #98EDFF;
	textRollOverColor: #58E2FF;
	textSelectedColor: #008D9E;
	themeColor: #00DEFF;
}
	